body {
  background-color: white;
  background-image: url('bg.svg');
}
body > header > a:first-child {
  color: black;
}
body > footer {
  color: #505050;
}
body > footer > a:first-child {
  color: black;
}
.top-nav > a > div {
  background-color: #393bac;
}
.top-nav > a.active > div {
  background-color: #7274FC;
}
.top-nav > nav {
  background-color: #393bac;
}
.top-nav > nav > a {
  color: white;
}
.top-nav > nav > a:hover {
  color: #FFCD37;
}
a {
  color: #393bac;
}
.btn {
  background-color: #393bac;
  color: white;
}
input, select {
  background-color: white;
  border-color: #393bac;
  color: black;
}
input::placeholder {
  color: gray;
}
.tabs-container > .tabs > .tab-btns > a {
  background-color: #f8f8f8;
  color: gray;
}
.tabs-container > .tabs > .tab-btns > a.active {
  background-color: #e8e8e8;
}
.tabs-container > .tabs > .tab {
  background-color: #e8e8e8;
  color: #101010;
}
.tabs-container > .tabs > .playlist-tab > .add-in-progress,
.tabs-container > .tabs > .playlist-tab > .add-error {
  color: white;
}
.tabs-container > .tabs > .notifications-tab > .notifications-msg {
  color: gray;
}
.tabs-container > .tabs > .playlist-tab > .add-in-progress {
  background-color: #008A29;
}
.tabs-container > .tabs > .playlist-tab > .add-error {
  background-color: #ED1C24;
}
.tabs-container > .tabs > .share-tab > .party-link-label {
  color: gray;
}
.tabs-container > .tabs > .playlist-tab > .filter {
  border-color: white;
}
.tabs-container > .tabs > .share-tab > .party-link-copied {
  color: #008A29;
}
.tabs-container > .tabs > .share-tab > .party-link {
  color: #393bac;
}
.tabs-container > .tabs > .share-tab > .toggle-party-link-qrcode-btn.active,
.tabs-container > .tabs > .playlist-tab > .toggle-playlist-inputs-section > a.active {
  background-color: gray;
}
.tabs-container > .tabs > .share-tab > .party-link-qrcode {
  border-top: 1px solid #e8e8e8;
  background-color: white;
}
.tabs-container > .notifications > .notification {
  background-color: #f8f8f8;
}
.tabs-container > .notifications > .notification > .message > a {
  color: #505050;
}
.tabs-container > .notifications > .notification > .time,
.tabs-container > .notifications > .notification > .close-btn {
  color: darkgray;
}
.tabs-container > .tracks > .track {
  background-color: #f8f8f8;
}
.tabs-container > .tracks > .track.active {
  background-color: #E3DAFF;
}
.tabs-container > .tracks > .track > .info > .user:before {
  color : gray;
}
.tabs-container > .tracks > .track > .info > footer > .rank {
  color: gray;
}
.tabs-container > .tracks > .track > .info > footer > .rank::before {
  color: darkgray;
}
.tabs-container > .tracks > .track > .info > footer > .likes::after {
  color: gray;
}
