body.dark {
  background-color: #080808;
  background-image: url('bg-dark.svg');
}
body.dark > header > a:first-child {
  background-image: url('nodj.party-dark.svg');
  color: whitesmoke;
}
body.dark > header > a:nth-child(2) {
  background-position: -3em top;
}
body.dark > footer {
  color: gray;
}
body.dark > footer > a:first-child {
  background-image: url('nodj.party-dark.svg');
  color: whitesmoke;
}
body.dark .top-nav > a > div {
  background-color: #7274FC;
}
body.dark .top-nav > a.active > div {
  background-color: #393bac;
}
body.dark .top-nav > nav {
  background-color: #393bac;
}
body.dark .top-nav > nav > a {
  color: whitesmoke;
}
body.dark .top-nav > nav > a:hover {
  color: #FFCD37;
}
body.dark a {
  color: #7274FC;
}
body.dark .btn {
  background-color: #393bac;
  color: whitesmoke;
}
body.dark input,
body.dark select {
  background-color: #080808;
  color: gainsboro;
}
body.dark input::placeholder {
  color: gray;
}
body.dark .playlist > .tabs > .tab-btns > a {
  background-color: #181818;
  color: gray;
}
body.dark .playlist > .tabs > .tab-btns > a.active {
  background-color: #202020;
}
body.dark .playlist > .tabs > .tab {
  background-color: #202020;
  color: gainsboro;
}
body.dark .playlist > .items > .item {
  background-color: #202020;
}
body.dark .playlist > .items > .item.active {
  background-color: #333599;
}
body.dark .playlist > .items > .item > .info > .title {
  color : whitesmoke;
}
body.dark .playlist > .items > .item.active > .info > .user {
  color : #a3a5ff;
}
body.dark .playlist > .items > .item.active > .info > .user:before {
  color : darkgray;
}
body.dark .playlist > .items > .item.active > .info > footer > .rank {
  color: darkgray;
}
body.dark .playlist > .items > .item > .info > footer > .rank::before {
  color: gray;
}
body.dark .playlist > .items > .item.active > .info > footer > .likes {
  color: #a3a5ff;
}
body.dark .playlist > .items > .item.active > .info > footer > .likes::after {
  color: darkgray;
}
body.dark .playlist > .items > .item > .info > footer > .like-btn::before {
  filter: brightness(140%);
}
body.dark .playlist > .items > .item.active > .info > footer > .like-btn::before {
  filter: brightness(200%);
}
body.dark .playlist > .items > .item.active > .info > footer > .like-btn {
  color: #a3a5ff;
}
