body {
  background-color: white;
  background-image: url('bg.svg');
}
body > header > a:first-child {
  color: black;
}
body > footer {
  color: #505050;
}
body > footer > a:first-child {
  color: black;
}
.top-nav > a > div {
  background-color: #393bac;
}
.top-nav > a.active > div {
  background-color: #7274FC;
}
.top-nav > nav {
  background-color: #393bac;
}
.top-nav > nav > a {
  color: white;
}
.top-nav > nav > a:hover {
  color: #FFCD37;
}
a {
  color: #393bac;
}
input {
  border-color: #393bac;
}
input::placeholder {
  color: gray;
}
.playlist > .tabs > .tab-btns > a {
  background-color: #f8f8f8;
  color: gray;
}
.playlist > .tabs > .tab-btns > a.active {
  background-color: #e8e8e8;
}
.playlist > .tabs > .tab {
  background-color: #e8e8e8;
  color: #101010;
}
.playlist > .tabs > .add-tab > .add > a {
  background-color: #393bac;
  color: white;
}
.playlist > .tabs > .add-tab > .add-in-progress,
.playlist > .tabs > .add-tab > .add-error {
  color: white;
}
.playlist > .tabs > .add-tab > .add-in-progress {
  background-color: #008A29;
}
.playlist > .tabs > .add-tab > .add-error {
  background-color: #ED1C24;
}
.playlist > .items > .item {
  background-color: #f8f8f8;
}
.playlist > .items > .item.active {
  background-color: #E3DAFF;
}
.playlist > .items > .item > .info > .user:before {
  color : gray;
}
.playlist > .items > .item > .info > footer > .rank {
  color: gray;
}
.playlist > .items > .item > .info > footer > .rank::before {
  color: darkgray;
}
.playlist > .items > .item > .info > footer > .likes::after {
  color: gray;
}
