body.dark {
  background-color: #080808;
  background-image: url('bg-dark.svg');
}
body.dark > header > a:first-child {
  background-image: url('nodj.party-dark.svg');
  color: whitesmoke;
}
body.dark > header > a:nth-child(2) {
  background-position: -3em top;
}
body.dark > footer {
  color: gray;
}
body.dark > footer > a:first-child {
  background-image: url('nodj.party-dark.svg');
  color: whitesmoke;
}
body.dark .top-nav > a > div {
  background-color: #7274FC;
}
body.dark .top-nav > a.active > div {
  background-color: #393bac;
}
body.dark .top-nav > nav {
  background-color: #393bac;
}
body.dark .top-nav > nav > a {
  color: whitesmoke;
}
body.dark .top-nav > nav > a:hover {
  color: #FFCD37;
}
body.dark a {
  color: #7274FC;
}
body.dark .btn {
  background-color: #393bac;
  color: whitesmoke;
}
body.dark input, body.dark select {
  background-color: #080808;
  color: gainsboro;
}
body.dark input::placeholder {
  color: gray;
}
body.dark .tabs-container > .tabs > .tab-btns > a {
  background-color: #181818;
  color: gray;
}
body.dark .tabs-container > .tabs > .tab-btns > a.active {
  background-color: #202020;
}
body.dark .tabs-container > .tabs > .tab {
  background-color: #202020;
  color: gainsboro;
}
body.dark .tabs-container > .tabs > .share-tab > .party-link-label {
  color: gray;
}
body.dark .tabs-container > .tabs > .playlist-tab > .filter {
  border-color: #080808;
}
body.dark .tabs-container > .tabs > .share-tab > .party-link {
  color: #7274FC;
}
body.dark .tabs-container > .tabs > .share-tab > .toggle-party-link-qrcode-btn,
body.dark .tabs-container > .tabs > .share-tab > .copy-party-link-btn,
body.dark .tabs-container > .tabs > .playlist-tab > .toggle-playlist-inputs-section > a {
  border: 1px solid #393bac;
  background-color: #181818;
  color: #7274fc;
}
body.dark .tabs-container > .tabs > .share-tab > .toggle-party-link-qrcode-btn.active,
body.dark .tabs-container > .tabs > .share-tab > .copy-party-link-btn.active,
body.dark .tabs-container > .tabs > .playlist-tab > .toggle-playlist-inputs-section > a.active {
  background-color: #202020;
  border-top-color: #080808;
  border-left-color: #080808;
  border-right-color: #303030;
  border-bottom-color: #303030;
}
body.dark .tabs-container > .tabs > .share-tab > .party-link-qrcode {
  border-top: 1px solid #303030;
  background: transparent;
}
body.dark .tabs-container > .tabs > .share-tab > .party-link::selection {
  background: #080808;
}
body.dark .tabs-container > .tabs > .share-tab > .party-link::-moz-selection {
  background: #080808;
}
body.dark .tabs-container > .notifications > .notification {
  background-color: #202020;
  color: gainsboro;
}
body.dark .tabs-container > .notifications > .notification > .message > a {
  color: darkgray;
}
body.dark .tabs-container > .notifications > .notification > .time,
body.dark .tabs-container > .notifications > .notification > .close-btn {
  color: dimgray;
}
body.dark .tabs-container > .tracks > .track {
  background-color: #202020;
}
body.dark .tabs-container > .tracks > .track.active {
  background-color: #333599;
}
body.dark .tabs-container > .tracks > .track > .info > .title {
  color : whitesmoke;
}
body.dark .tabs-container > .tracks > .track.active > .info > .user {
  color : #a3a5ff;
}
body.dark .tabs-container > .tracks > .track.active > .info > .user:before {
  color : darkgray;
}
body.dark .tabs-container > .tracks > .track.active > .info > footer > .rank {
  color: darkgray;
}
body.dark .tabs-container > .tracks > .track > .info > footer > .rank::before {
  color: gray;
}
body.dark .tabs-container > .tracks > .track.active > .info > footer > .likes {
  color: #a3a5ff;
}
body.dark .tabs-container > .tracks > .track.active > .info > footer > .likes::after {
  color: darkgray;
}
body.dark .tabs-container > .tracks > .track > .info > footer > .like-btn::before {
  filter: brightness(140%);
}
body.dark .tabs-container > .tracks > .track.active > .info > footer > .like-btn::before {
  filter: brightness(200%);
}
body.dark .tabs-container > .tracks > .track.active > .info > footer > .like-btn {
  color: #a3a5ff;
}
