html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.05em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-repeat: no-repeat;
  background-size: auto 7em;
  background-position: right 1.5em bottom 0;
}

body > header {
  display: flex;
  justify-content: space-between;
  height: 3em;
  padding: .75em .75em 0 .75em;
}

body > header > a:first-child {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: 500;
  margin: -.25em 0 0 0;
  padding-left: 2.25em;
  background-image: url('nodj.party.svg');
  background-repeat: no-repeat;
  background-size: auto 2em;
  background-position: left top;
}
body > header > a:nth-child(2) {
  position: absolute;
  top: 0;
  right: 3.75em;
  height: 3em;
  width: 3em;
  background-image: url('bulb.svg');
  background-repeat: no-repeat;
  background-size: auto 3em;
  background-position: left top;
}

body > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9em;
  margin-top: auto;
  padding: 0 .75em;
  height: 2em;
}
body > footer > a:first-child {
  display: inline-block;
  height: 1.5em;
  line-height: 1.6em;
  padding-left: 1.75em;
  font-size: 1em;
  background-image: url('nodj.party.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto 1.5em;
}
body > footer > span:last-child {
  display: inline-block;
  height: 1.5em;
  line-height: 1.7em;
  font-size: .95em;
}

/* BEGIN top navigation */
.top-nav {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-top: .5em;
  margin-right: .25em;
  overflow: hidden;
  z-index: 999;
}
.top-nav > a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
}
.top-nav > a > div {
  width: 2em;
  min-width: 2em;
  max-width: 2em;
  height: 4px;
  min-height: 4px;
  max-height: 4px;
}
.top-nav > nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  padding: .5em 1em;
  z-index: 999;
  min-height: 5em;
  margin-top: 4px;
  border-radius: 4px 0 4px 4px;
}
.top-nav > nav > a {
  display: block;
}
/* END top navigation */

main {
  margin: .75em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

iframe {
  max-width: 100%;
  /* so that ratio is approx. 1.641025641025641 */
  max-height: 60vw;
  margin: 0 0 1.5em 0;
}

a {
  text-decoration: none;
}

input {
  font-size: 1em;
  border: solid 1px;
  border-radius: 0;
  padding: .25em 0 .25em .5em;
}
select {
  font-size: 1em;
  border: solid 1px;
  border-radius: 0%;
  padding-left: .5em;
  height: 1.85em;
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  background-image: url('up-down-arrows.svg');
  background-repeat: no-repeat;
  background-size: auto 1em;
  background-position: right .1em center;
}
input::placeholder {
  font-size: .95em;
  font-style: italic;
}

.hidden {
  display: none !important;
}

.tabs-container {
  width: 420px;
  max-width: 100%;
  margin-bottom: 5em;
}

.tabs-container > .tabs > .tab-btns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.tabs-container > .tabs > .tab-btns > a {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 1px;
  width: 33.33%;
  height: 1.75em;
  line-height: 1.75em;
  text-align: center;
  background-repeat: no-repeat;
  background-size: auto 1em;
  background-position: center;
}
.tabs-container > .tabs > .tab-btns > a.active {
  margin-bottom: 0;
}
.tabs-container > .tabs > .tab-btns > a:last-child {
  margin-right: 0;
}

.tabs-container > .tabs > .tab-btns > a.share-tab-btn {
  background-image: url('users-link.svg');
  background-size: auto 1.1em;
}
.tabs-container > .tabs > .tab-btns > a.notifications-tab-btn {
  background-image: url('bell.svg');
  background-size: auto 1.075em;
}
.tabs-container > .tabs > .tab-btns > a.notifications-tab-btn.unread {
  background-image: url('bell-on.svg');
  background-size: auto 1.1em;
}
.tabs-container > .tabs > .tab-btns > a.playlist-tab-btn {
  background-image: url('playlist.svg');
}

.tabs-container > .tabs > .tab {
  padding: .25em;
  font-size: .9em;
  display: flex;
  flex-direction: column;
}

.tabs-container > .tabs > .share-tab {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: .5em;
}
.tabs-container > .tabs > .share-tab > .party-link-label {
  flex: 0 0 50%;
  margin-bottom: .25em;
}
.tabs-container > .tabs > .share-tab > .party-link-copied {
  flex: 0 0 50%;
  text-align: right;
  margin-bottom: .25em;
}
.tabs-container > .tabs > .share-tab > .party-link {
  flex: 0 1 100%;
  word-break: break-all;
  margin-right: .25em;
  margin-bottom: .5em;
}
.tabs-container > .tabs > .share-tab > .copy-party-link-btn,
.tabs-container > .tabs > .share-tab > .toggle-party-link-qrcode-btn {
  flex: 0 1 49%;
  height: 1.9em;
  line-height: 1.9em;
  text-align: center;
}
.tabs-container > .tabs > .share-tab > .party-link-qrcode {
  width: 100%;
  text-align: center;
  margin-top: 1em;
}
.tabs-container > .tabs > .share-tab > .party-link-qrcode > canvas,
.tabs-container > .tabs > .share-tab > .party-link-qrcode > img {
  margin: 1em auto;
}
.tabs-container > .tabs > .share-tab > .print-party-link-qrcode-btn {
  flex: 0 0 100%;
  height: 1.9em;
  line-height: 1.9em;
  text-align: center;
}

.tabs-container > .tabs > .notifications-tab {
  flex-direction: row;
  justify-content: space-between;
  padding: .5em;
}
.tabs-container > .tabs > .notifications-tab > .notifications-msg {
  font-size: .95em;
}
.tabs-container > .tabs > .notifications-tab > .clear-notifications-btn {
  font-size: .95em;
}

.tabs-container > .tabs > .playlist-tab > .toggle-playlist-inputs-section {
  display: flex;
  justify-content: space-between;
  padding: .25em .1em
}
.tabs-container > .tabs > .playlist-tab > .toggle-playlist-inputs-section > a {
  flex: 0 0 49%;
  height: 1.9em;
  line-height: 1.9em;
  justify-content: space-between;
  text-align: center;
}
.tabs-container > .tabs > .playlist-tab > .add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.25em;
}
.tabs-container > .tabs > .playlist-tab > .add > input {
  flex: 0 1 80%;
  height: 1.25em;
  margin: .25em .1em;
}
.tabs-container > .tabs > .playlist-tab > .add > a {
  display: inline-block;
  margin-left: .1em;
  margin-right: .1em;
  min-width: 3em;
  height: 1.9em;
  line-height: 1.9em;
  flex: 1 0 auto;
  text-align: center;
}
.tabs-container > .tabs > .playlist-tab > .add-in-progress,
.tabs-container > .tabs > .playlist-tab > .add-error {
  font-size: 1em;
  height: 1.75em;
  line-height: 1.85em;
  margin: .25em .2em;
  padding: 0 1em 0 .4em;
}
.tabs-container > .tabs > .playlist-tab > .add-error {
  cursor: pointer;
  background-image: url('close.svg');
  background-repeat: no-repeat;
  background-position: right .1em center;
  background-size: auto 1.55em;
}

.tabs-container > .tabs > .playlist-tab > .filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.tabs-container > .tabs > .playlist-tab > .filter > select {
  flex: 0 1 100%;
  margin: .2em .1em;
}
.tabs-container > .tabs > .playlist-tab > .filter > input {
  flex: 0 1 100%;
  height: 1.85em;
  margin: .25em .1em .2em .1em;
}

.tabs-container > .notifications {
  display: flex;
  flex-direction: column;
}
.tabs-container > .notifications > .notification {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: .5em;
  padding: .25em .25em .1em .25em;
}
.tabs-container > .notifications > .notification:last-child {
  margin-bottom: .25em;
}
.tabs-container > .notifications > .notification > .message {
  flex: 0 1 96%;
  font-size: .85em;
  padding-left: .25em;
}
.tabs-container > .notifications > .notification > .close-btn {
  text-align: right;
  font-size: .9em;
  height: .5em;
  line-height: .2em;
  margin-right: -.1em;
  transform: scale(1.25, 1);
}
.tabs-container > .notifications > .notification > .time {
  flex: 0 0 100%;
  font-size: .75em;
  line-height: 1em;
  margin-top: .4em;
  margin-bottom: .2em;
  text-align: right;
  letter-spacing: .05em;
  font-kerning: auto;
}

.tabs-container > .tracks {
  max-height: 55vh;
  overflow-x: scroll;
}

.tabs-container > .tracks > .track {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: .5em;
}
.tabs-container > .tracks > .track > .overlay-btn {
  position: absolute;
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
  margin-left: .25em;
  text-align: center;
  cursor: pointer;
  background-size: 2em;
  background-repeat:  no-repeat;
  background-position: center;
}
.tabs-container > .tracks > .track > .overlay-btn.play {
  background-image: url('play.svg');

}
.tabs-container > .tracks > .track > .overlay-btn.pause {
  background-image: url('pause.svg');
}
.tabs-container > .tracks > .track > img {
  width: 25%;
  align-self: center;
  flex: 0 0 auto;
  cursor: pointer;
  margin: .25em;
}
.tabs-container > .tracks > .track > .info {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: .25em .5em .25em .25em;
}
.tabs-container > .tracks > .track > .info > .title {
  font-size: .9em;
  font-weight: 500;
}
.tabs-container > .tracks > .track > .info > .user {
  align-self: flex-start;
  font-size: .85em;
  margin-top: .25em;
}
.tabs-container > .tracks > .track > .info > .user:before {
  content: "@";
}
.tabs-container > .tracks > .track > .info > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: .25em;
}
.tabs-container > .tracks > .track > .info > footer > .rank,
.tabs-container > .tracks > .track > .info > footer > .likes,
.tabs-container > .tracks > .track > .info > footer > .like-btn {
  font-size: .85em;
}
.tabs-container > .tracks > .track > .info > footer > .rank {
  margin-right: auto;
}
.tabs-container > .tracks > .track > .info > footer > .rank::before {
  content: "#";
}
.tabs-container > .tracks > .track > .info > footer > .likes {
  margin-right: 1em;
}
.tabs-container > .tracks > .track > .info > footer > .likes:after {
  content: " likes";
}
.tabs-container > .tracks > .track > .info > footer > .like-btn::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .25em;
  background-image: url('like.svg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 1em;
}

/* BEGIN media queries */
@media only screen and (min-width: 867px) {
  main {
    margin-top: 3em;
  }
}
/* END media queries */